{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        {% for item in posts %}

            <li><a href="{{ path('post_show', {'id' : item.id})}}">{{ item.title }}</a></li>
        {% endfor %}

    </div>
{% endblock %}
